/* This is a page to style the Add resource page */
.AddResource {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 20px;
    width: 100%;
    height: 100vh;
  }