{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='Add_resource_page.css') }}"
/>
<body>
  <div className="AddResource">
    <h3>Are there any resources that you want to include?</h3>
    <br />
    <p>Please go ahead and enter the required information</p>
    <input type="text" placeholder="Name of the Resource" />
    <br />
    <br />
    <select name="category" id="category">
      <option value="Equity">Equity</option>
      <option value="Health">Health</option>
      <option value="Academics">Academics</option>
    </optgroup>
  </select>
  <br />
   <br/>
    <input
      type="text"
      placeholder="Please give us a brief description of the resource"
    />
    <br/>
    <br />
    <input type="email" placeholder="Please type your email" />
    <br/>
    <br />
    <button>Submit</button>
  </div>
</body>
{% endblock %}
