{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='Add_resource_page.css') }}"
/>
<div class="AddResource">
  <h3>Are there any resources you would like to add?</h3>
  <br />
  <p>Please go ahead and enter the required information</p>
  <form action="/add_resource" method="post">
    <label for="resource_name"> Resource Name: </label>
    <br />
    <input
      type="text"
      class="input"
      id="resource_name"
      name="resource_name"
      autocomplete="off"
      placeholder="Ex: The Resource Center"
    />
    <br />
    <br />
    <label for="link_to_website">
      Please include a webiste link if the resource has one:
    </label>
    <br />
    <input
      type="text"
      class="input"
      id="link_to_website"
      name="link_to_website"
      autocomplete="off"
      placeholder="Ex: https://www.wesleyan.edu/resourcecenter/"
    />
    <br />
    <br />
    <p>Select resource category:</p>
    <select name="resource_type" id="resource_type" required>
      <option value="Equity">Equity</option>
      <option value="Health">Health</option>
      <option value="Academics">Academics</option>
      <option value="Student Life">Student Life</option>
      <option value="Career">Career</option>
      <option value="Dining">Dining</option>
    </select>
    <br />
    <br />
    <label for="email">Email:</label>
    <br />
    <input
      type="email"
      class="input"
      id="email"
      name="email"
      autocomplete="off"
      placeholder="Please type your email"
    />
    <br />
    <br />
    <label for="keywords"
      >Please provide a short description of the resource</label
    >
    <br />
    <input
      type="text"
      class="input"
      id="keywords"
      name="keywords"
      autocomplete="off"
      placeholder="Ex: Helps students with..."
    />
    <br />
    <br />
    <button class="submit_btn" type="submit">Add Resource</button>
  </form>
</div>

{% endblock %}
