{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='Add_resource_page.css') }}"
/>
<body>
  <div className="AddResource">
    <h3>
      Hi! Are there any resources that you want to include? Please go ahead and
      enter the required infromation
    </h3>
    <input type="text" placeholder="Name of the Resource" />

    <input type="text" placeholder="Where can people access this resource" />

    <input
      type="text"
      placeholder="Please give us a brief description of the resource"
    />
    <button>Submit</button>
  </div>
</body>
{% endblock %}
