{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
  %}
  <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}"> 
    <div class="MainPage">
      <label class="hamburger-menu">
        <input type="checkbox" /> 
      </label>
      <aside class="sidebar">
        <nav>
          <div>
            <p> <a href="{{ url_for('add_resource_page') }}"> Add Resource </a> </p>
          </div>
          <div>
            <p> <a href="{{ url_for('rate_resource_page') }}"> Rate a Resource </a> </p>
            <!-- <p> <a href="#" id="rateResourceLink">  </a> </p> -->
          </div>
          <div>Terms of Service</div>
        </nav>
      </aside>
      <div class="main-part">
        <form class="form" method="POST" autocomplete="off">
        <h1 class = "welcome">Welcome to Wesfind!</h1>
        <p> Simply select a category and share your concern. 
          We'll help identify the most suitable resources at Wesleyan to address your issue! </p>
      <p>
        Select resource type:
      </p>
        <select class = "input" name="category" id="category">
            <option value="">Resource type</option>
            <option value="Equity">Equity</option>
            <option value="Health">Health</option>
            <option value="Academics">Academics</option>
            <option value="Dining">Dining</option>
            <option value="Career">Career</option>
            <option value="Student Life">Student Life</option>
            <option value="Other">Other</option>
          </optgroup>
        </select>
        <br>
        <section class="section">
          <div class="columns">
            <div class="column is-one-third is-offset-one-third">
              <p>
                <br>
                Describe what you need in a few words...
              </p>
              <input type="text" class="input" placeholder="Enter description" name="q" hx-get="/search2" hx-trigger="keyup changed delay:500ms" hx-target="#results">
            </br>
          </br>
            </div>
      </div>
      <button class ="submit_btn"> Find resource </button>
    </form>
  </div>
    </section>
  </div>
  </div>
  {% endblock %}
  