{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
  %}
  <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}"> 
  <!-- <link rel="stylesheet" href="main_page.css" />
  <link rel="stylesheet" href="home.css" /> -->
    <div class="MainPage">
      <label class="hamburger-menu">
        <input type="checkbox" /> 
      </label>
      <aside class="sidebar">
        <nav>
          <div>
            <p> <a href="{{ url_for('add_resource_page') }}"> Add Resource </a> </p>
          </div>
          <div>Terms of Services</div>
        </nav>
      </aside>
      <div class="main-part">
        <form method="POST" autocomplete="off">
        <h1>Welcome to Resource Generator for Wesleyan University!</h1>
      <p>
        Select resource type:
      </p>
        <select name="category" id="category">
            <option value="">Resource type</option>
            <option value="Equity">Equity</option>
            <option value="Health">Health</option>
            <option value="Academics">Academics</option>
            <option value="Dining">Dining</option>
            <option value="Career">Career</option>
            <option value="Student Life">Student Life</option>
          </optgroup>
        </select>
        <br>
      </div>
        <section class="section">
          <div class="columns">
            <div class="column is-one-third is-offset-one-third">
              <p>
                <br>
                Describe what you need in a few words...
              </p>
              <input type="text" class="input" placeholder="Enter description" name="q" hx-get="/search2" hx-trigger="keyup changed delay:500ms" hx-target="#results">
            </br>
          </br>
            </div>
      </div>
      <button class ="submit_btn"> Find resource </button>
    </form>
    <!-- <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Resource</th>
          </tr>
        </thead>
        <tbody id="results">
        </tbody>
      </table> -->
    </section>
  </div>
  </div>

    {% endblock %}
