{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
  %}
  <!-- <form method = "POST" >
    <head>
      <link rel="stylesheet" href="sign-In.css" />
    </head>
      <div className="SignInPage">
        <h1> Welcome </h1>
          <form>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type= "email" class="form-control"
              id="email" placeholder="Your Email" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="Password" class="form-control"
              id="password" placeholder="Your Password" />
            </div>
              <button type ="submit" class = "btn btn-primary"> Sign In </button>
              <!-- <p> New User? </p>
              <nav>
              <div> 
              <a href="sign_up.html"> Create an account </a>
              </div> -->
  <!-- </div>
      </form> -->
  
  <form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  {% endblock %}