{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="Sign_up_page">
  <div class="web_description">
    <h2 class="Webname">Wesfind</h2>
    <p>
      Explore a centralized hub for Wesleyan resources, bringing together a
      wealth of information in one convenient location!
    </p>
  </div>
  <div class="sign_up_form">
    <div class="login-signUp-page">
      <form class="form_signUP" method="POST" , autocomplete="off">
        <h3 align="center">Login</h3>
        <div class="form-group">
          <label for="email"> Email Address </label>
          <input
            type="email"
            class="input_singUP"
            id="email"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="input_singUP"
            id="password"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
  {% endblock %}
</div>
