{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<!-- <form method="POST">
  <div className="CreateAccount">
  <h1>Welcome</h1>
    <div class="Group">
      <input type="text" class="input-box" placeholder="First Name" />
    </div>
    <div class="Group">
      <input type="text" class="input-box" placeholder="Last Name" />
    </div>
    <div class="Group">
      <input type="email" class="input-box" placeholder="Your Email" />
    </div>
    <div class="Group">
      <input type="Password" class="input-box" placeholder="Your Password" />
    </div>
    <div class="Group">
      <input type="Password" class="input-box" placeholder="Your Password" />
    </div>
    <button type="button" class="signup-btn">Sign Up</button>
  </form>
</div> -->
<link rel="stylesheet" href="{{ url_for('static', filename='sign-In.css') }}" />
<div class="login-signUp-page">
  <form class="form_signUP" method="POST" , autocomplete="off">
    <h3 class="title" align="center">Sign Up</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="input_singUP"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="input_singUP"
        id="firstName"
        name="firstName"
        placeholder="Enter first name"
      />
    </div>
    <div class="form-group">
      <label for="password1">Password</label>
      <input
        type="password"
        class="input_singUP"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password2">Password (Confirm)</label>
      <input
        type="password"
        class="input_singUP"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
