/* This is a page to style the Add resource page */
.AddResource {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 20px;
    width: 100%;
    height: 100vh;
  }

#email, #link_to_website, #resource_name {
    width: 300px; 
    height: 30px; 
}

#keywords {
  width: 300px; 
  height: 90px; 
  overflow-wrap: break-word;
  word-wrap: break-word;
}