/* This page is a styling page for the main page  */
*, 
*::after, 
*::before{
    box-sizing:border-box;
}

 :root{
    --bar-width:40px;
    --bar-height:3px;
    --hamburger-gap: 6px;
    --foreground:black;
    --background:white; 
    --hamburger-margin:8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
} 

 .hamburger-menu {
    --x-width:calc(var(--hamburger-height) * 1.41421);
    display:flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width:max-content;
    position:absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index:2;
    cursor:pointer;
}

/* .hamburger-menu:has(input:checked){
    --foreground:black;
    --background:black;
} */

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border:1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content:"";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin:left center;
    transition:opacity var(--animation-timing), width var(--animation-timing), 
    rotate var(--animation-timing) translate var(--animation-timing) background-color var(--animation-timing);
}

.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin:0;
    outline: none;
    pointer-events:none; 
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/-2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/2);
}

.hamburger-menu input:checked{
    opacity:0;
    width:0;

}

.sidebar{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-right:10em;
    transition: var(--animation-timing);
    translate: 100%;
    margin-left: 100%;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    width:50rem;
    min-height:100%; 
   
} 

.dropdown-btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

  /* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Style the links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #333;
}

  /* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
.hamburger-menu:has(input:checked) + .sidebar{
    translate: 0;
}   

/* .main-part {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 20px;
}  */