.title{
    padding-top:20px;
    padding-bottom:20px;
}
.Sign_up_page{
    display: flex;
    flex-direction:row;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width:100%;

}

.web_description{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left: 3em;
    width:30%;
    height:100vh;
    
} 

@keyframes movingGradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
.Webname{
    display: inline-block;
    font-size: 2.5em; 
    background: linear-gradient(90deg, rgb(0, 149, 255), #0af, #00f); 
    color: transparent;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: movingGradient 3s linear infinite; 
    margin-left:20%;
}
 
 .input_singUP {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
  
.sign_up_form{
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding-left:20%;

}
